@font-face {
    font-family: 'PublicSans-VariableFont_wght';
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}