html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

.main {
    flex-grow: 1;
}