// HEADER Style
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__item {
            margin-left: 40px;
            list-style: none;

            &__link {
                font-size: 15px;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: #36536B;
                mix-blend-mode: normal;
                opacity: 0.7;
                text-decoration: none;
                transition: all .4s;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .navbar__btn__link {
        padding: 15px 25px;
        background-color: #BA4270;
        border-radius: 30px;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        transition: all .4s;

        &:hover {
            background: #DA6D97;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        }

    }
}

.header__logo {
    display: block;
}





//START HERO style 
.hero {
    position: relative;

    .hero__text {

        &::after {
            content: '';

            position: absolute;
            width: 780px;
            height: 780px;
            left: 700px;
            top: -100px;
            border-radius: 50%;
            background: #36536b63;
            z-index: -9;
            transform: translateY(-300px);
        }

        &::before {
            content: url(../images/banner.png);
            position: absolute;
            right: 50px;
            top: -50px;
            // // background: url(../images/banner.png) no-repeat;
            // background-position: 100px 100px;
            // background-size: cover;
        }

        .hero__text__title {
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.553846px;
            color: #36536B;
            font-family: 'DMSerifDisplay-Regular';
            width: 45%;
        }

        .hero__label {
            outline: none;
        }

        .email__input {
            padding: 16px 270px 16px 27px;
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 30px;
            outline: 1px solid transparent;
            border: none;
            font-size: 15px;


        }

        .hero__text__input {
            position: relative;

            .hero__input__btn {
                padding: 16px 25px;
                background: #BA4270;
                border-radius: 30px;
                transition: all .4s;
                outline: none;
                border: none;
                color: #fff;
                font-size: 15px;
                position: absolute;
                left: 310px;

                &:hover {
                    background: #DA6D97;
                }
            }
        }


        .contact__us {
            padding: 20px;

            p {
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #36536B;
                mix-blend-mode: normal;
                opacity: 0.7;

                a {
                    color: #000;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
}



// ABOUT STYLE
.about__section {
    background-color: #1B262F;
    width: 100%;
    margin: 200px auto 100px auto;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about__img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

    }

    .about__text {
        padding: 100px 0;
        width: 50%;

        &__title {
            font-family: 'DMSerifDisplay-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #FBFCFE;

        }

        &__dec {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #FBFCFE;
            mix-blend-mode: normal;
            opacity: 0.7;
            padding: 20px 0 50px 0;
        }

        .about__btn {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            padding: 15px 30px;
            border-radius: 30px;
            border: 1px solid #fff;
            width: fit-content;
            text-decoration: none;
            transition: all .4s;

            &:hover {
                background-color: #fff;
                color: #000;
            }
            &:active{
                border: 1px solid #FBFCFE;
                background-color: transparent;
                color: #fff;
            }
        }


    }

}

// END ABOUT STYLE



// INFO STYLE
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        padding: 50px;

        h3 {
            font-family: 'DMSerifDisplay-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #36536B;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #6C8294;

        }
    }
}

.info__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    &__img {
        display: flex;

        img {
            max-width: 55%;
        }
    }

    .info__text__two {
        width: 50%;

    }
}

// END INFO STYLE



// .CARD style
.card{
    display: flex;
    justify-content: space-between;
    &__box{
        width: 28%;
        height: auto;
        position: relative;
        text-align: center;
        &::before{
            content: url(../images/icon1.svg);
            width: 50px ;
            height: 50px;
        }
        h3{
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.138462px;
            color: #36536B;
        }
        p{
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #6C8294;
        }
    }
}
// END CARD style


// BOTTOM INPUT STYLE
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 50px 0;
    h3{
        font-family: 'DMSerifDisplay-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }
}
.bottom__input {
    padding: 16px 270px 16px 27px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 30px;
    outline: 1px solid transparent;
    border: none;
    font-size: 15px;


}

.bottom__text__input {
    position: relative;

    
}
.bottom__input__btn {
    padding: 16px 25px;
    background: #BA4270;
    border-radius: 30px;
    transition: all .4s;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0;

    
    &:hover {
        background: #DA6D97;
    }
    &:active{
        background-color: #BA4270;
    }
}




// END BOTTOM INPUT STYLE



// FOOTER STYLE

footer{
    background-color: #1B262F;
    width: 100%;
}
.footer{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style: none;
            margin-left: 30px;
            a > svg:hover path{
                fill: #DA6D97;
            }
        }
    }
}
.footer__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__item{
            list-style: none;
            margin-left: 30px;
            .menu__link{
                font-size: 15px;
                line-height: 18px;
                color: #FBFCFE;
                mix-blend-mode: normal;
                opacity: 0.7;
                text-decoration: none;
                transition: all .4s;
                &:hover{
                    color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}

// END FOOTER STYLE