
//START HERO style 
.hero__text__input {
    width: fit-content;
}

.email__input {
    position: relative;

}

.email__input+.hero__input__btn {
    padding: 16px 25px;
    background: #BA4270;
    border-radius: 30px;
    transition: all .4s;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0;
}

.hero {
    position: relative;

    &::after {
        content: '';
        width: 780px;
        height: 780px;
        border-radius: 50%;
        background: #36536b63;
        z-index: -9;
        position: absolute;
        top: -300px;
        right: -200px;

    }

    .hero__text {
        &::before {
            content: url(../images/banner.png);
            transform: translate(700px, -100px);
            position: absolute;
        }

        .hero__text__title {
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.553846px;
            color: #36536B;
            font-family: 'DMSerifDisplay-Regular';
        }

        .hero__label {
            outline: none;
        }

        .email__input {
            padding: 16px 20px;
            width: 500px;
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 30px;
            outline: 1px solid transparent;
            border: none;
            font-size: 15px;


        }

        .hero__text__input {

            position: relative;

            .hero__input__btn {


                &:hover {
                    background: #DA6D97;
                }

            }

        }


        .contact__us {
            padding: 20px;

            p {
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #36536B;
                mix-blend-mode: normal;
                opacity: 0.7;

                a {
                    color: #000;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
}

// HERO media TAB
@media screen and (max-width: 768px) {
    .hero__text__title {
        text-align: center;
        margin: 0;
    }

    .hero {

        &::after {
            left: 60%;
        }
    }

    .hero {
        &::after {
            top: -600px;
            left: -5%;
        }

        .hero__text {
            text-align: center;

            &::before {
                text-align: center;
                position: static;
            }

        }
    }

    .hero__text__input {
        margin: 50px auto;
    }

    .hero__text__title {
        font-size: 48px;
    }
}


// HERO MOBILE
@media screen and (max-width: 375px) {
    .email__input+.hero__input__btn {
        position: static;
        width: 200px;
    }

    .email__input {
        padding: 0;
        width: 200px !important;
    }

}


//  END HERO style

// ABOUT STYLE
.about__section {
    background-color: #1B262F;
    width: 100%;
    height: auto;
    margin: 200px auto 100px auto;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about__img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

    }

    .about__text {

        padding-bottom: 100px;

        &__title {
            font-family: 'DMSerifDisplay-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #FBFCFE;

        }

        &__dec {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #FBFCFE;
            mix-blend-mode: normal;
            opacity: 0.7;
            padding: 20px 0 50px 0;
        }

        .about__btn {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            padding: 15px 30px;
            border-radius: 30px;
            border: 1px solid #fff;
            width: fit-content;
            text-decoration: none;
            transition: all .4s;

            &:hover {
                background-color: #fff;
                color: #000;
            }

            &:active {
                border: 1px solid #FBFCFE;
                background-color: transparent;
                color: #fff;
            }
        }


    }

}

// END ABOUT STYLE
@media screen and(max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    .about__text {
        padding: 50px 0;
        text-align: center;
        width: 100%;
    }

    .about__img {
        margin-top: 100px;
    }

    .container {
        padding: 0;
    }

}


// INFO STYLE
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        padding: 50px;

        h3 {
            font-family: 'DMSerifDisplay-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #36536B;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #6C8294;

        }
    }
}

.info__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    &__img {
        display: flex;

        img {
            max-width: 55%;
        }
    }

    .info__text__two {
        width: 50%;

    }
}

@media screen and(max-width: 768px) {
    .info {
        flex-direction: column;
        text-align: center;
    }

    .info__text {
        padding: 0;
    }

    .info__two {
        flex-direction: column;
        text-align: center;
        margin: 100px 0;
    }
}


// END INFO STYLE



// .CARD style
.card {
    display: flex;
    justify-content: space-between;

    &__box {
        width: 28%;
        height: auto;
        position: relative;
        text-align: center;

        &::before {
            content: url(../images/icon1.svg);
            width: 50px;
            height: 50px;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.138462px;
            color: #36536B;
        }

        p {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #6C8294;
        }
    }
}

// END CARD style


// BOTTOM INPUT STYLE

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 50px 0;
}

.bottom__input {
    padding: 16px 270px 16px 27px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 30px;
    outline: 1px solid transparent;
    border: none;
    font-size: 15px;
}

.input__fit {
    position: relative;
}

.bottom__input__btn {
    padding: 16px 25px;
    background: #BA4270;
    border-radius: 30px;
    transition: all .4s;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0;

    &:hover {
        background-color: #DA6D97;
    }

    &:active {
        background-color: #FBFCFE;
    }
}

.input__title {
    font-family: 'DMSerifDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
}

@media screen and(max-width: 768px) {
    .input {
        flex-direction: column;
        text-align: center;
    }
}



// END BOTTOM INPUT STYLE



